*{
    margin: 0;
    padding:0;
}
body{
    background-image: url("Images/WeatherBackground2.png");
}
.container{
    width:100%;
    position: fixed;
}
ul{
    list-style-type: none;
    overflow: hidden;
    padding:5px 5px 5px;
    background-color: aqua;
}

li a{
    text-decoration: none;
    font-weight: bold;
    float:right;
    padding: 5px 5px 5px;
    font-size: 18px;
    display: block;
    border:2px black;
    color:white;
    border-right: thin solid white;
    border-left: thin solid white;
}
li .name{
    text-decoration: none;
    font-weight: bold;
    float:left;
    padding: 5px 5px 5px;
    font-size:18px;
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
}
li a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.wrapper{
    width:100%;
}

.img-1{
    width:250px;
    height:150x;
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-2{
    width:200px;
    height: 280px;
    padding-top: 40px;
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.welc{
    width:100%;
    font-weight: bold;
    text-align: center;
    padding-top: 75px;
    color:white;
    font-family: Trebuchet MS, sans-serif;
    
}
.intro{
    font-size: 20px;
    padding: 0px 20px 0px;
    line-height: 25px;
    font-family: Trebuchet MS, sans-serif;
    color:white;
    padding-top: 15px;
    padding-bottom: 100px;
    text-align: center;
}
.ending{
    font-size: 20px;
    padding: 0px 20px 20px;
    text-align: center;
    line-height: 25px;
    font-family: Trebuchet MS, sans-serif;
    color:white;
}

.openW{
    text-decoration: none;
    color: aqua;
}
.openW:hover{
    color:white;
}
.press-me a{
    width:100%;
    text-decoration: none;
    color:white;
}
.press-me{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-family: Trebuchet MS, sans-serif;
    text-decoration: underline;
}
.press-me a:hover{
    color:aqua;
    text-decoration: none;
}

@media only screen and (min-width: 760px){
    body{
        background-image: url("Images/WeatherBackground.png");
    }

    .intro{
    width:600px;
    font-size: 40px;
    line-height: 40px;
    }

    .ending{
      width:600px;
      font-size: 40px;
      line-height: 40px;
    }
    
    .wrapper{
        width:600px;
        margin: 0 auto;
    }
  
    ul{
        padding: 20px 20px 20px;
    }
    li a{
        font-size: 20px;
    }
    .welc{
        padding-top: 150px;
        font-size: 60px;
    }
   li .name{
        font-size: 20px;
    }
}